/* Website template by freewebsitetemplates.com */

body {
	background: #e8e1d1;
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	margin: 0;
	min-width: 960px;
	padding: 0;
}

a {
	outline: 0;
}

img {
	border: none;
}



p a:hover,
#body ul li a.readmore:hover,
#footer ul li div a.viewall:hover,
div.body span a:hover {
	color: #3e3524;
}

#page {	
	background: url(../images/bg-body.jpg) repeat-x center top;
	overflow: hidden;
	width: 100%;
}

#header {
	margin: 0 auto;
	width: 960px;
}

#header div {
	margin: 45px 0 0;
	text-align: center;
}

#header div a {
	display: block;
	text-align:left;
}

#tab-container{position:relative; color:#E0E0E0;background:#E8E1D1; width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;}

#tab-nav{position:relative;height:33px;font-size:12px; text-transform: capitalize; font-weight:bold;background:#E8E1D1 url(../images/dolphin_bg.gif) repeat-x bottom left;
padding:0 0 0 0px;}

#tab-nav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}

#tab-nav ul li{display:block;float:left;margin:0 1px;}

#tab-nav ul li a{display:block;float:left;color:#EAF3F8;text-decoration:none; padding:0 0 0 11px;height:33px;}

#tab-nav ul li a span{padding:12px 11px 0 0;height:21px;float:left;}

#tab-nav ul li a:hover{color:#fff; background:transparent url(../images/dolphin_bg-OVER.gif) repeat-x bottom left;}

/* Added */
nav {
	margin: 0 auto; 
	text-align: center;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	background: #7E3517;
    /*-kk*/
/*	background: #efefef;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  */
	list-style: none;
	position: relative;
	/*display: inline-table;*/
}

	nav ul:after {
		content: ""; clear: both; display: block; 
	}

	nav ul li {
		float: left; 
	}
		nav ul li:hover {
            background: #8A4117;
            /*-kk*/
			/*background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);*/
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; /*padding: 25px 40px;*/
			padding: 10px 10px;
			color: #fff; text-decoration: none; /*kk color chnaged to fff*/
		}
	
	nav ul ul {
        background: #8A4117; border-radius: 0px; padding: 0;

/*-kk		background: #5f6975; border-radius: 0px; padding: 0;kk*/
		position: absolute; top: 100%;z-index:9999;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			nav ul ul li a {
				padding: 15px 40px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #C85A17;/*kk #4b545f;*/
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}

/* END */
#tab-nav ul li a:hover span{display:block;width:auto;cursor:pointer;}

#tab-nav ul li a.current,#tab-nav ul li a.current:hover{color:#fff; background:#1D6893 url(../images/dolphin_left-ON.gif) no-repeat top left;line-height:275%;}

#tab-nav ul li a.current span{display:block;padding:0 12px 0 0;width:auto; background:#1D6893 url(../images/dolphin_right-ON.gif) no-repeat top right;height:33px;}

#body,
div.body {
	background: #f6efe5;
	border: 1px solid #e0dacc;
	margin: 0px auto 25px;
	overflow: hidden;
	width: 960px;
}

#body ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#body ul li {
	float: left;
	position: relative;
	width: 435px;
}

#body ul li:first-child {
	background: none;
}

#body ul li h1 {
	font-family: Times New Roman, Times, serif;
	font-size: 28px;
	line-height: 28px;
	margin: 0;
	padding: 28px 0;
}

#body ul li h1 a {
	color: #0d4d79;
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px #f8ffff;
}

#body ul li h1 a:hover {
	color: #1c3345;
}

#body ul li div {
	margin: 0 0 6px;
}

#body ul li a img  {	
	display: block;	
	padding: 3px;
}


#body ul li p {
	line-height: 23px;
	margin: 0;
	padding: 0;
	text-align: justify;
}

#body ul li a.readmore {
	background: url(../images/bg-readmore.gif) no-repeat;
	color: #69614a;
	display: block;
	height: 24px;
	line-height: 24px;
	position: absolute;
	left: 90px;
	bottom: 0;
	text-decoration: none;
	text-align: center;
	width: 142px;
}

div.body {
	padding: 30px 20px;
	width: 920px;
}

div.body h2 {
	color: #0D4D79;
	display: block;
	font-family: Times New Roman,Times,serif;
    font-size: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 0 30px;
	text-shadow: 0 1px #F8FFFF;
    text-transform: uppercase;
}

div.body span,
div.body h3 {
	display: block;
	font-family: Times New Roman,Times,serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	margin: 0;
}

div.body span a,
div.body h3 a {
	color: #706758;
	text-decoration: none;
}

div.body span a:hover {
	text-decoration: underline;
}

div.body span b {
	font-weight: normal;
	text-transform: uppercase;
}

div.body div {
	margin: 0 0 31px;
	overflow: hidden;
}


form{
	display:block;
	margin:0px;
	padding:0px;
}
p{
	margin:0px;
	padding:0px;
}

a {
    text-decoration: underline;
}
input,select,textarea{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;

}

img{
	vertical-align:middle;
	border:0px;
}
fieldset{ margin:0px; padding:0px; display:block;}
legend{font-weight:bold;}

.margin-auto{ margin:auto; width:auto; display:block }
.float-left{ float:left;}
.float-right{ float:right; }


.w100{ width:100%; }
.w95{ width:95%;}

.w90{ width:90%;}
.w80{ width:80%;}
.w70{ width:70%;}
.w60{ width:60%;}
.w50{ width:50%;}
.w40{ width:40%;}
.w35{ width:35%;}

.w30{ width:30%;}
.w20{ width:20%;}
.w15{ width:15%;}
.w5
{
	width: 5%;
}

.wBanner
{
	width: 728px;
	height: 90px;
}

.w10{ width:10%;}

.m-t-5{ margin-top:5px;}
.m-t-10{ margin-top:10px;}
.m-t-30{ margin-top:30px;}

.m-l-5{ margin-left:5px;}
.m-l-100{ margin-left:100px;}
p, h1, h2,h4, table {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
	padding:0px;
	text-transform:capitalize;
}

h4{
	font-size:13px;
	font-weight:bold;
}

h2{
	background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 2px solid #77C114;
    font-size: 13px;
    margin: 20px;
    padding: 5px 20px;
    text-transform: capitalize;
	width:auto;
	display:block;
	}

.align-left{ text-align:left; color:#000; }
.align-right{ text-align:right; color:#000;}
.align-center{ text-align:center;}

.notification{background-color:#fffcc8; border:1px solid #f7c76c; color:#e07605; margin:4px 0px; padding: 5px 0; } 
.success{ background-color:#e2fbee; border:1px solid #6dd39d; color:#108748; margin:4px 0px; padding: 5px 0;}
.failure{     
	background-color: #FDA8A1;
    border: 1px solid #E75C50;
    color: #9B190D;
    margin: 4px 0;
    padding: 5px 0;}

.color-white{ background-color:#fff !important;}


.textname{ padding:8px 0px;  }
.textfield{ 
	/*padding:7px 0px;*/ 
	padding:4px 4px 4px 6px;
	border:1px solid #ccc; 
	box-shadow: 1px 1px 1px #eee; 
	margin:1px 0px; 
	background:#7486a4 !important;    
    text-align:left; color: #000; 
	
    background: -moz-linear-gradient(top, #fff  0%, #eee  100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff ), color-stop(100%,#eee )) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff  0%,#eee  100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff  0%,#eee  100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff  0%,#eee  100%) !important; /* IE10+ */
	background: linear-gradient(to bottom, #fff  0%,#eee  100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff ', endColorstr='#eee ',GradientType=0 ) !important;
	
	}


.p1{ padding:1px; }
.p2{ padding:2px; }
.p3{ padding:3px; }
.p4{ padding:4px; }
.p5{ padding:5px; }

.form-section{ float:left; margin-bottom:5px; width:100%;}
.color-red{ color:#cc3300; }

.form-button{
	font-size:12px;
	border-radius:3px;
	box-shadow:0 1px 0 #CCCCCC inset;
	padding:5px 10px;
	border:1px solid #770a00;
	margin:0.2em;
	background:#7486a4 !important;    
    text-align:left; color: #FFFFFF;cursor: pointer;font-weight: bold;
	text-shadow: 0 1px 0 #999999;
    background: -moz-linear-gradient(top, #a7140e  0%, #750500  100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7140e ), color-stop(100%,#750500 )) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a7140e  0%,#750500  100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a7140e  0%,#750500  100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a7140e  0%,#750500  100%) !important; /* IE10+ */
	background: linear-gradient(to bottom, #a7140e  0%,#750500  100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7140e ', endColorstr='#750500 ',GradientType=0 ) !important;
	text-shadow:0px 1px 0px #666;}

.login-box{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 2px #DDDDDD;
    padding: 35px 0 33px;
}

.login-img{
	    float: left;
    margin-left: 40px;
    margin-top: 23px;
}

.tab-section{
	border:1px solid #eee; background-color:#eeebe5; border-bottom:1px solid #bbb;
}
.preview-box{    
	border: 1px dashed #BBBBBB;
    margin: 10px 10px 10px 0;
    padding: 10px;
    text-align: center;
	width:750px;
}

.preview-boxEvent{    
	border: 1px dashed #BBBBBB;
    margin: 10px 10px 20px 0;
    padding: 20px;
    text-align: center;
	width:200px;
}
	
.gallery-box{

    border-color: #BBBBBB #BBBBBB #77C114;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px;
    line-height: 200%;
	width:201px;
	padding:5px;
	float:left;
	margin:7px;
	min-height:132px;
}

div.body div img {
	float: left;
	margin: 33px 0 0;
}

div.body div p {
	float: right;
	line-height: 24px;
	margin: 26px 0 0;
	padding: 0;
	text-align: justify;
	width: 470px;
}

div.body p {
	line-height: 24px;
	margin: 0 0 29px;
	text-align: justify;
}

div.body table tr td{
	padding: 0 40px 5px 0;
}

div.body ul {
	background: url(../images/border-vertical.gif) repeat-y center top;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

div.body ul li {
	float: right;
	margin: 0 20px;
	width: 400px;
}

div.body ul li:first-child {
	float: left;
}

div.body ul li img {
	margin: 0 0 31px;
}

div.body ul li p {
	margin: 0;
}

div.body ul li span {
	line-height: 24px;
}

div.body ul li ul {
	background: none;
	list-style: disc outside;
	margin: 0;
	padding: 0 0 30px 15px;
}

div.body ul li ul li {
	float: none;
	margin: 0;
	padding: 0 0 0 5px;
	width: auto;
}

div.body ul li ul li:first-child {
	float: none;
}

.title, .submenu{
	background-color: #2d1c12;
    color: #FFFFFF;
    float: left;
    width: 100%;
}

.title label{ float:left; padding:7px; font-size:15px; font-weight:bold;}

.submenu ul{ display:block;}
.submenu ul li{ float:left; width:auto !important;  border-right:1px solid #666 !important; }
.submenu ul li a{  text-decoration:none; color:#fff !important; padding:5px 12px !important; float:left; }
.submenu ul li a:hover{  text-decoration:none; color:#fff !important; padding:5px 12px !important; float:left;  background-color:#665f4e; }

.submenu ul li a.active-tab{  text-decoration:none;  background-color:#fff !important; color:#000 !important; padding:5px 12px !important; float:left;}

table.listing{ width:100%; }
table.listing th{ background-color:#462e1b; color:#fff; padding:5px; }
table.listing td{ background-color:#f2f0ec; color:#000; padding:5px; }
table.listing td.even{ background-color:#fff; color:#000; padding:5px; }

	
#footer {
	background: url(../images/bg-footer.jpg) repeat-x center bottom; height:104px;
}

#footer ul {
	list-style: none;
	margin: 0 auto 25px;
	overflow: hidden;
	padding: 0;
	width: 960px;
}

#footer ul li {
	float: left;
	margin: 0 0 0 18px;
	width: 226px;
}

#footer ul li:first-child {
	margin: 0;
}

#footer ul li h3 {
	color: #0D4D79;
	font-family: Times New Roman,Times,serif;
	font-size: 20px;
	margin: 0 0 5px;
	text-indent: 15px;
	text-shadow: 0 1px #F8FFFF;
}

#footer ul li div {
	background: url(../images/bg-footer-item.gif) no-repeat;
	height: 266px;
	margin: 0;
	padding: 10px 0 0;
	position: relative;
	width: 226px;
}

#footer ul li div#magazine img {
	margin: 2px 0 0 3px;
}

#footer ul li div#gallery img {
	margin: 5px 13px;
}

#footer ul li div p,
#footer ul li div b,
#footer ul li div span {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 24px;
	margin: 0;
	padding: 0 13px;
}

#footer ul li div a {
	display: block;
}

#footer ul li div span {
	font-size: 12px;
}

#footer ul li div a.viewall {
	color: #a29c8e;
	display: block;
	font-size: 12px;
	padding: 0 13px 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	text-decoration: none;
	text-align: right;
}

#footer ul li div b {
	display: block;
}

#footer div {
	margin:60px auto 0;
	overflow: hidden;
	width: 960px;
	padding-top: 25px;
}

#footer div p {
	font-family: Times New Roman, Times, serif;
	margin: 0;
}

#footer div p a {
	color: #988878;
	text-decoration: none;
}

#footer div p a:hover {
	color: #988878;
	text-decoration: underline;
}

#footer div p.connect {
	float: left;
	color: #988878;
}

#footer div p.footnote {
	float: right;
	color: #988878;
}

.visibility-none
{
	display:none;
	visibility:collapse;
}
